body {
  background-image: url("pictures/2d/backgrounds/background8.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#mainCar img {
  width: 5.5vw;
  height: auto;
  z-index: 30;
}

#mainCar {
  position:absolute;
  bottom:0%;
  display: grid;
}

.road {
  background-image: url("pictures/2d/roads/road1.jpg");
  background-repeat: repeat-y;
  background-size: contain;
  position: fixed;
  height: 10000000000000vh;
  width: 18vw;
  animation-name: moveRoad;
  animation-duration: 100000s;
  animation-iteration-count: infinite;
}

.obstacle {
  position: absolute;
  animation-name: moveObstacle;
  animation-duration: 10s;
  animation-iteration-count: infinite;
}
.obstacleImg {
  width: 5vw;
  height: auto;
  z-index: 20;
}

#score{
  position:relative;
  background-color: blueviolet;
  border-width:2.5px;
  border-radius: 10px;
  border-style: solid;
  border-color: black;
  color: antiquewhite;
  z-index:50;
  align-self: baseline;
  margin: 1vh;
  padding: 4px;
}


#highScore{
  position:relative;
  background-color: blueviolet;
  border-width:2.5px;
  border-radius: 10px;
  border-style: solid;
  border-color: black;
  color: antiquewhite;
  z-index:50;
  align-self: baseline;
  margin: 1vh;
  padding: 4px;
}

@keyframes moveObstacle {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(100vh);
  }
}

@keyframes moveRoad {
  0%{
    transform:translateY(-50%);
  }
  100%{
    transform: translateY(100%);
  } 
}

.stop {
  animation-play-state: paused;
}

