body {
  background-image: url("pictures/2d/backgrounds/background8.png");
  background-repeat: repeat-y;
  background-size: contain;
  /* background-attachment: fixed; */
  background-position: center;
  height: 10000000000000vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
  animation-name: movebackground;
  animation-duration: 200000s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#mainCar img {
  width: 5.5vw;
  height: auto;
  z-index: 30;
}

#mainCar {
  position:absolute;
  bottom:0%;
  display: grid;
  margin-bottom: 2vh;
}

#road {
  background-image: url("pictures/2d/roads/road1.jpg");
  background-repeat: repeat-y;
  background-size: contain;
  position: fixed;
  height: 10000000000000vh;
  width: 18vw;
  animation-name: moveRoad;
  animation-duration: 200000s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

.obstacle {
  position: absolute;
  animation:  none;
  /* display:none; */
}
.obstacleImg {
  width: 5vw;
  height: auto;
  z-index: 20;
}

#score{
  position:relative;
  background-color: blueviolet;
  border-width:2.5px;
  border-radius: 10px;
  border-style: solid;
  border-color: black;
  color: antiquewhite;
  z-index:50;
  align-self: baseline;
  margin: 1vh;
  padding: 4px;
}


#highScore{
  position:relative;
  background-color: blueviolet;
  border-width:2.5px;
  border-radius: 10px;
  border-style: solid;
  border-color: black;
  color: antiquewhite;
  z-index:50;
  align-self: baseline;
  margin: 1vh;
  padding: 4px;
}

#pause{
  position:absolute;
  background-color: red;
  border-width:2.5px;
  border-radius: 10px;
  border-style: solid;
  border-color: rgb(27, 23, 23);
  min-height: 30px;
  min-width:60px;
  font-size: medium;
  font-style: normal;
  font-weight: bold;
  font-stretch: condensed;
  color: antiquewhite;
  z-index:50;
  align-self: flex-end;
  margin: 1vh;
  padding: 4px;
}

#restart{
  position:absolute;
  background-color: red;
  border-width:2.5px;
  border-radius: 10px;
  border-style: solid;
  border-color: rgb(27, 23, 23);
  min-height: 30px;
  min-width:60px;
  font-size: medium;
  font-style: normal;
  font-weight: bold;
  font-stretch: condensed;
  color: antiquewhite;
  z-index:70;
  align-self: center;
  margin: 1vh;
  padding: 4px;
  top:50vh;
  /* display:none; */
}
#menu{
  position:absolute;
  background-color: red;
  border-width:2.5px;
  border-radius: 10px;
  border-style: solid;
  border-color: rgb(27, 23, 23);
  min-height: 30px;
  min-width:60px;
  font-size: medium;
  font-style: normal;
  font-weight: bold;
  font-stretch: condensed;
  color: antiquewhite;
  z-index:70;
  align-self: center;
  margin: 1vh;
  padding: 4px;
  top:55vh;
  /* display:none; */
}

#continue{
  position:absolute;
  background-color: blue;
  border-width:2.5px;
  border-radius: 10px;
  border-style: solid;
  border-color: rgb(27, 23, 23);
  min-height: 30px;
  min-width:60px;
  font-size: medium;
  font-style: normal;
  font-weight: bold;
  font-stretch: condensed;
  color: antiquewhite;
  z-index:70;
  align-self: center;
  margin: 1vh;
  padding: 4px;
  bottom:50vh;
  /* display:none; */
}

@keyframes moveObstacleCenter {
  0% {
    transform: translate(0,0);
  }
  100% {
    transform: translate(0,100vh);
  }
}

@keyframes moveObstacleLeft {
  0% {
    transform: translate(-6vw,0);
  }
  100% {
    transform: translate(-6vw,100vh);
  }
}

@keyframes moveObstacleRight {
  0% {
    transform: translate(6vw,0);
  }
  100% {
    transform: translate(6vw,100vh);
  }
}

@keyframes moveRoad {
  0%{
    transform:translateY(-50%);
  }
  100%{
    transform: translateY(100%);
  } 
}

@keyframes movebackground {
  0%{
    background-position: 0% 0%;
  }
  100%{
    background-position: 0% 100%;
  } 
}

.stop {
  animation-play-state: paused;
}

.hide{
  display: none;
}

.show{
  display: block;
}

.obstacleAnimationCenter{
  animation-name: moveObstacleCenter;
  animation-duration: 5s;
  animation-timing-function: linear;
}

.obstacleAnimationLeft{
  animation-name: moveObstacleLeft;
  animation-duration: 5s;
  animation-timing-function: linear;
}

.obstacleAnimationRight{
  animation-name: moveObstacleRight;
  animation-duration: 5s;
  animation-timing-function: linear;
}